
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Montserrat";
  font-weight:900;
}

p {
  color:#8f8f8f;
  line-height: 1.5;

}

/* Headings */
.big-heading {
  font-size: 3rem;
  line-height: 1.5;
  margin-right: 30px;
}
.section-heading {
  line-height: 1.5;
}

/* Sections */
.colored-section {
background-color: #ff4c68;
color:#fff;
}
.white-section {
background-color:#fff;
}

/* Tittle */
#title {
  padding-bottom: 13%;
  text-align: left;
}
.container-fluid {
  padding: 3% 15%;
}

/* navigation bar */
.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bolder;
}
.nav-item {
  padding-left: 15px;
  padding-right: 15px;
}

.navbar {
  padding: 0 0 4.5rem;
}
.nav-link {
  font-family: "Montserrat-Light";
  font-size: 1.4rem;
}

/* buttons */
.download-button {
  margin: 5% 3% 5% 0;
}

.front-page {
  width:60%;
  margin-top: 100px;
  margin-left: 30px;
  transform:rotate(25deg);
  position:absolute;

}

/* Features */

#features {
  position:relative;
  z-index: 1;
}


.feature1{
  color:#ef8172;
  font-size: 4rem;
  padding: 30% 30% 0;
}

.feature1:hover {
  color:#ff4c68;
}


.feature-box {
  margin-top: 150px;
}
.feature-title {
    font-size: 1.5rem;
}

/* Testimonials */

#testimonials {
  background-color:#ef8172;
  margin-top: 10%;
  }

.testimonial-dog {
  width:25%;
  border-radius:100%;
  margin:5%;
}
.carousel-item {
    padding: 7% 15%;
}
.carousel-item .testimonial-text {
  line-height: 1.5;
}
#press {
  background-color:#ef8172;
}
.press-logo {
  width:15%;
  margin: 20px 20px 50px;
}

/* Pricing */
#pricing {
  padding:100px;
}
.pricing-column {
  padding:3% 5%;
}
.pricing-text {
    line-height: 1.5;
}
.pricing-title {
  font-size: 1.5rem;
}
@media (max-width:991px)
{
#title {
  text-align: center;
}

.front-page {
  position: static;
  transform:rotate(0);
}
}
/* CTA */
#cta {
  font-family:"Montserrat-Bold";
  font-weight:900;
  padding:10% 10%;
}
.cta-button {
  margin: 5% 1%;
}
.cta-header {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Footer */

 .footer-icons {
   margin: 80px 3px 10px;
 }
